
* {
  margin: 0;
  /* padding: 0; */
}
body, main
{
  min-height: 100vh;
}

.Profile {
  text-align: center;
  display: block;
  background-image: url('/Images/o.jpg');
  min-height: 100vh;
  width:auto;
  border: 3px solid yellowgreen;
  color: #65ea53;
  justify-content: center;
  word-spacing: 5px;
  line-height: 25px;

}
#career_objective {
  margin-left: 30px;
  text-align: left;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #65ea53;
  font-size: large;
  
}

table,
th,
td {
  border: 3px solid black;

}

.link_container {

  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #65ea53;
  
}



#Education {
  padding-left: 50px;
  min-height: 100vh;
  padding-top: 60px;
  color: white;
  background: linear-gradient(rgb(0, 0, 0),rgba(71, 68, 68, 0.8)), url("/Images/ed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
#skills{
  
  min-height: 100vh;
  width: 100%;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(0, 0, 0),rgba(71, 68, 68, 0.8)), url("/Images/pcb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


img {
  margin-right: 20px;
  margin-left: 20px;
}

img {
  border-radius: 50%;
}

.projects{
  color: rgb(255, 255, 255);
  background:linear-gradient(rgb(0, 0, 0), rgba(49, 47, 47, 0.8)), url("/Images/we.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}
#major{
  padding-left: 400px;
  height: 550px;
  width: 96.75%;
  padding-top:150px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgba(71, 68, 68, 0.8)), url("/Images/maj.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 35px;
  font-size: x-large;
}
.navbar .navbar-nav .nav-link:hover
{
  background-color: white;
  color: black !important;
}

